*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(108, 6, 6);
    color: black;
}
header nav{
    background-color: rgb(163, 146, 75);
    display: flex;
    font-weight: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}
header nav h1{
    font-size: 26px;
    font-weight: 300;
}
#sform{
    display: flex;
    justify-content: center;
}

form input[type="text"],button[type="submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
}
form button[type="submit"]{
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}
form button[type="submit"]:hover,.recipe button:hover,.rclose:hover{
    background-color: rgb(255, 161, 161);
    
}
.recipe-container{
    text-align: center ;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 25px;
    place-items: center;
    color: wheat;
}
.recipe{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
    color: black;
}
.recipe:hover{
    transform: scale(1.08);
}
.recipename{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
}
.recipename,.ingrlist,.instructions{
    margin-bottom: 20px;

}
.recipe img{
    height: 300px;
}
.recipe h3{
    font-size: 24px;
    margin-block: 5px;
}
.recipe button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    background-color: #df2b2b;
    color: #fff;        
}
.recipe p{
    font-size: 20px;
    color: rgb(23, 12, 12);
    margin: 5px 0; 
}
.recipe span{
    font-weight: 600;
}
.searchbox{
    flex-grow: 1;
    margin-right: 10px;
}
.rdetails{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background-color: beige;
    border-radius: 10px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    padding: 20px;
}

.instructions p{
    line-height: 30px;
}
.rdetails::-webkit-scrollbar{
    width: 12px;
}
.rdetails::-webkit-scrollbar-thumb{
    background: #7a7878f6;
    border-radius: 15px;
    --webkit-border-radius:15px;
}
body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    background: #7a7878f6;
    border-radius: 15px;
    --webkit-border-radius:15px;
}
body::-webkit-scrollbar-track{
    background: #fff;
}
.ingrlist li{
    margin: 20px;
    text-align: left;
}
.rclose{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: red;
    border: #7a7878f6;
    margin: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:600px) {
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
    header nav {
        flex-direction: column;
    }
}